.contact {
    margin: 0;
    padding: 5rem;
    text-align: left;
    background-color: #f8f9fa;
}

.contact-container {
    margin: 0;
    padding: 3rem 0rem;
}

@media (max-width: 800px) {
    .contact {
        padding: 1rem;
    }
    .contact-container {
        padding: 1rem 0rem;
    }
    .form-container {
        margin: 0;
        padding: 0;
    }
  }

.form-container {
    margin: auto;
    padding: 2rem;
    max-width: 800px;
    background-color: white;
    /* border */
    /*border-color: gray;*/
    border-style: solid;
    border-width: 0.5px;
    border-radius: 2em;
}

.button-container {
    margin: auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button-container > * {
    margin: 1em;
    width: 100px;
  }

/* Style for the button container */
.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

/* Common button style */
.custom-button {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

/* LinkedIn-specific style */
.linkedin-btn {
    background-color: #0077B5;
}

/* GitHub-specific style */
.github-btn {
    background-color: #333;
}

/* Hover effect */
.custom-button:hover {
    transform: scale(1.1);
}
