@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


body {
  margin: 0;
  font-family: 'EB Garamond', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --base-color-brand--orange: #FF7F50; /* Coral Orange or any color you prefer */
  --text-color--text-secondary:#666666;
  --background-color--background-alternate: #FEFAE0;
  --base-color-brand--white: #FFFFFF;
  --homepage-color: #EDEDE9;
}
